<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container fluid class="ma-0 pa-0 split">

                    <v-row no-gutters>

                        <!-- OHLCV 取得 -->
                        <v-col cols="auto">
                            <v-dialog v-model="dialog1" max-width="600px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn color="secondary" dark v-bind="attrs" v-on="on" small tile>
                                        OHLCV 取得
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="text-h5">OHLCV 取得</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" sm="6">
                                                    <v-menu v-model="from_date_menu" :close-on-content-click="false"
                                                        :return-value.sync="date" transition="scale-transition" offset-y
                                                        min-width="auto">
                                                        <template v-slot:activator="{ on, attrs }">
                                                            <v-text-field v-model="from_date" label="From Date"
                                                                prepend-icon="mdi-calendar" readonly clearable
                                                                v-bind="attrs" v-on="on" dense>
                                                            </v-text-field>
                                                        </template>
                                                        <v-date-picker v-model="from_date" no-title scrollable
                                                            @input="from_date_menu = false">
                                                        </v-date-picker>
                                                    </v-menu>
                                                </v-col>
                                                <v-col cols="12" sm="6">
                                                    <v-menu v-model="to_date_menu" :close-on-content-click="false"
                                                        :return-value.sync="date" transition="scale-transition" offset-y
                                                        min-width="auto">
                                                        <template v-slot:activator="{ on, attrs }">
                                                            <v-text-field v-model="to_date" label="To Date"
                                                                prepend-icon="mdi-calendar" readonly clearable
                                                                v-bind="attrs" v-on="on" dense>
                                                            </v-text-field>
                                                        </template>
                                                        <v-date-picker v-model="to_date" no-title scrollable
                                                            @input="to_date_menu = false">
                                                        </v-date-picker>
                                                    </v-menu>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>
                                    <v-divider></v-divider>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn :loading="loading_ohlcv" :disabled="loading_ohlcv" color="secondary"
                                            @click="getData_ohlcv">
                                            取得
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-col>

                        <v-spacer></v-spacer>

                        <!-- インジケーター -->
                        <v-col cols="auto">
                            <v-dialog v-model="dialog2" max-width="600px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn color="secondary" dark v-bind="attrs" v-on="on" small tile>
                                        インジケーター
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="text-h5">インジケーター</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="auto">
                                                    <v-switch class="ma-1" v-model="switch_vwma20.isChecked"
                                                        label="VWMA 20" :loading="switch_vwma20.loading"
                                                        :disabled="switch_vwma20.loading" color="secondary"
                                                        @change="changed_vwma20" dense>
                                                    </v-switch>
                                                </v-col>
                                                <v-col cols="auto">
                                                    <v-switch class="ma-1" v-model="switch_vwma25.isChecked"
                                                        label="VWMA 25" :loading="switch_vwma25.loading"
                                                        :disabled="switch_vwma25.loading" color="secondary"
                                                        @change="changed_vwma25" dense>
                                                    </v-switch>
                                                </v-col>
                                                <v-col cols="auto">
                                                    <v-switch class="ma-1" v-model="switch_cci25.isChecked"
                                                        label="CCI 25" :loading="switch_cci25.loading"
                                                        :disabled="switch_cci25.loading" color="secondary"
                                                        @change="changed_cci25" dense>
                                                    </v-switch>
                                                </v-col>
                                                <v-col cols="auto">
                                                    <v-switch class="ma-1" v-model="switch_bb20.isChecked" label="BB 20"
                                                        :loading="switch_bb20.loading" :disabled="switch_bb20.loading"
                                                        color="secondary" @change="changed_bb20" dense>
                                                    </v-switch>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>
                                </v-card>
                            </v-dialog>
                        </v-col>

                        <!-- バックテスト -->
                        <v-col cols="auto">
                            <v-dialog v-model="dialog3" max-width="600px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn color="secondary" dark v-bind="attrs" v-on="on" small tile>
                                        バックテスト
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="text-h5">バックテスト</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" sm="6">
                                                    <v-text-field label="モジュール名" outlined dense clearable
                                                        v-model="backtest.module_name">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6">
                                                    <v-text-field label="メソッド名" outlined dense clearable
                                                        v-model="backtest.method_name">
                                                    </v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="12" sm="4">
                                                    <v-text-field label="発注サイズ" outlined dense clearable suffix="BTC"
                                                        v-model="backtest.size">
                                                    </v-text-field>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>
                                    <v-divider></v-divider>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn :loading="backtest.loading" :disabled="backtest.loading"
                                            color="secondary" @click="run_backtest">
                                            開始
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-col>

                        <!-- 損益グラフ -->
                        <v-col cols="auto">
                            <v-dialog v-model="dialog4" max-width="600px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn color="secondary" dark v-bind="attrs" v-on="on" small tile>
                                        損益グラフ
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="text-h5">損益グラフ</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12">
                                                    <line-chart style="height: 400px;"></line-chart>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>
                                </v-card>
                            </v-dialog>
                        </v-col>

                    </v-row>

                    <!-- トレビュー -->
                    <v-row no-gutters>
                        <v-col>
                            <trading-vue class="ma-0" :data="trading_vue" :width="width" :height="height"
                                :timezone="timezone">
                            </trading-vue>
                        </v-col>
                    </v-row>

                    <!-- バックテスト結果 -->
                    <v-row no-gutters>
                        <v-col>
                            <v-simple-table height="200" fixed-header>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-left">#</th>
                                            <th class="text-left pa-0">タイプ</th>
                                            <th class="text-left pa-0">日時</th>
                                            <th class="text-left pa-0">価格</th>
                                            <th class="text-left">利益</th>
                                            <th class="text-left pa-0">累積利益</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in desserts" :key="index">
                                            <td class="">{{ index+1 }}</td>
                                            <td class="pa-0">{{ item.type1 }}<v-divider></v-divider>{{ item.type2 }}
                                            </td>
                                            <td class="pa-0">{{ item.datetime1 }}<v-divider></v-divider>{{
                                                item.datetime2 }}</td>
                                            <td class="pa-0">${{ item.price1 }}<v-divider></v-divider>${{ item.price2 }}
                                            </td>
                                            <td class="">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on"
                                                            v-bind:class="{ 'red--text': item.profit < 0 }">${{
                                                            item.profit }}</span>
                                                    </template>
                                                    <span>{{ item.total_profit }}</span>
                                                </v-tooltip>
                                            </td>
                                            <td class="pa-0">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on"
                                                            v-bind:class="{ 'red--text': item.total_profit < 0 }">${{
                                                            item.total_profit }}</span>
                                                    </template>
                                                    <span>{{ item.total_profit }}</span>
                                                </v-tooltip>
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-col>
                    </v-row>

                </v-container>
            </v-main>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/trading-vue-js@1.0.2/dist/trading-vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <script type="text/javascript" src="/eel.js"></script>
    <script src="./index.js"></script>
</body>

</html>